/* styles.css */

body {
    background-color: #F1F1EF;
    font-family: 'Darker Grotesque', sans-serif;
    overflow-x: hidden;
}

.row {
    margin-bottom: 5rem;
}

.description-text {
    padding-left: 5%;
    padding-right: 5%;
}

h1 {
    font-size: 4rem;
    font-weight: 600;
}


.confirm {
    display: flex;
    align-items: center;
    background-color: #6BE7B7;
    padding: 20px 20px 20px 20px;
    font-size: 1.5rem;
    box-shadow: 5px 5px 0px 0px black;
}

.form-container {
    display: flex;
    align-items: flex-start;
    margin: 0px 0px 0px -10px;
}

form button{
    display: inline-block;
    background-color: black;
    color: white;
    border: 1px black;
    box-shadow: 7px 7px 0px #6BE7B7,
    7px 7px 0px 1px #000000;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease;
    position: relative;
}

form button:hover{
    box-shadow: 5px 5px 0px #6BE7B7,
            5px 5px 0px 1px black;
    transform: translate(2px, 2px);
}

input {
    display: flex;
    flex-grow: 0.8;
    background-color: white;
    color: black;
    border: 1px black;
    border-radius: 0;
    padding: 14px 0px 14px 10px;
    margin: 0px 10px;
}

input:focus {
    border: 1px black;
    border-radius: 0;
    color: black;
    padding: 14px 0px 9px 10px;
    box-shadow: 5px 5px 0px 0px black;
    outline: 0;
}

.container {
    max-width: 100%;
}

h3 {
    font-size: large;
    font-weight: 400;
}

.example {
    font-size: medium;
    font-style: italic;
}

.image-row {
    display: flex;
    height: 20rem;
}

.screen-column-1 {
    max-width: 50%;
    text-align: end;
}

.screen-column-2 {
    max-width: 50%;
    text-align: start;
}

.photo-column-1 {
    flex: 60%;
    margin: 0px -20px 0px -20px;
}

.photo-column-2 {
    flex: 60%;
    margin: 0px -20px 0px -20px;
}

.screen-1 {
    position: relative;
    height: 100%;
    border: 2px solid black;
    margin-left: 20%;
    object-fit: contain;
    z-index: 1;
    border-radius: 20px 20px 20px 20px;
}

.screen-2 {
    position: relative;
    height: 100%;
    border: 2px solid black;
    margin-right: 20%;
    object-fit: contain;
    z-index: 1;
    border-radius: 20px 20px 20px 20px;
}

.photo-1 {
    position: relative;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    object-fit: cover;
}

.photo-2 {
    position: relative;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    object-fit: cover;
}

#accomplish {
    background-color: #6BE7B7;
}

#challenge {
    background-color: #FF79A1;
}

#accountability {
    background-color: #D2EDFF;
}

#money {
    background-color: #6BE7B7;
}

#thrill {
    background-color: #FF79A1;
}


.cards-section {
    width: 100%;
    /* Set the width of the entire cards section */
    overflow-x: auto;
    /* Enable horizontal scrolling for the cards section */
}

.card-container {
    display: flex;
    flex-wrap: nowrap;
    margin: 20px 0;
}

.card {
    flex: 0 0 auto;
    width: 400px;
    height: 200px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    margin-right: 10px;
}

.card-img {
    width: 60px;
    height: 60px;
    margin: 25px 25px 25px 35px;
    object-fit: cover;
    border-radius: 50%;
    border: #000000 1px solid;
}

.statement {
    font-style: italic;
}

.testimonial-name {
    font-weight: bold;
}

/* Accordion */
#faq-container {
    margin: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

/* Remove the rounded corners for all accordion items (optional) */
.accordion-item {
    border-radius: 0 !important;
    border: 0px solid #000 !important; 
    margin-bottom: 10px;
    box-shadow: 5px 5px 0px 0px black;
}

/* Change the accordion item background color when expanded */
.accordion-item:not(.collapsed) {
    background-color: #FFF;
}

/* Change the accordion button background color */
.accordion-button {
    background-color: #FFF;
    color: #000;
    border-radius: 0 !important;
}
.accordion-button:not(.collapsed) {
    background-color: #6BE7B7;
    color: #000;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
    transition: all 0.5s;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
}

.accordion-button:focus {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

/* Add padding to the accordion body */
.accordion-body {
    padding: 10px;
}